%div.container.mx-auto.p-8
  %div.flex.items-center.justify-between.bg-indigo-700.p-4.rounded
    %h2.text-xl.font-bold.text-white= 'Nuevo Proyecto' 
    = link_to projects_path, class: 'text-white hover:text-pink-200' do
      Atrás

  %div.bg-white.p-8.rounded-lg.shadow-md
    = form_with model: @project, local: true do |form|
      - if @project.errors.any?
        #error_explanation
          %h2.text-red-500= "#{pluralize(@project.errors.count, 'error')} impidieron guardar el proyecto:"
          %ul
            - @project.errors.full_messages.each do |message|
              %li= message

      .mb-5.mt-4
        = form.label :name, 'Nombre', class: "block mb-2 text-sm font-medium text-gray-900"
        = form.text_field :name, class: "block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Ingresa el nombre del proyecto"

      .mb-5
        = form.label :description, 'Descripción', class: "block mb-2 text-sm font-medium text-gray-900"
        = form.text_area :description, class: "block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Ingresa la descripción del proyecto"

      .actions.mt-4
        = form.submit 'Crear Proyecto', class: "flex items-center justify-center w-full max-w-xs bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded text-center", onclick: "return confirm('¿Estás seguro de que deseas crear este proyecto?');" do
          %img.w-5.h-5.mr-2{ src: "https://img.icons8.com/?size=256&id=NC4u31qGQ7Rz&format=png", alt: "Guardar Proyecto" }
