= link_to 'Atrás', project_story_path(@project, @story), class: 'btn btn-secondary'

%h1 Editar Historia de Usuario

= form_with(model: @story, url: project_story_path(@project, @story), method: :patch, local: true) do |form|
  - if @story.errors.any?
    #error_explanation
      %h2
        = "#{pluralize(@story.errors.count, "error")} impidieron guardar la historia de usuario:"
      %ul
        - @story.errors.full_messages.each do |message|
          %li= message

  .field
    = form.label :name
    = form.text_field :name, class: "form-input mt-1 block w-full"

  .field
    = form.label :description
    = form.text_area :description, class: "form-textarea mt-1 block w-full"

  .actions
    = form.submit 'Actualizar Historia de Usuario', class: "btn btn-primary mt-4"

